ccopy_reg
_reconstructor
p1
(ccaterpillar.processing.index
IndexConfig
p2
c__builtin__
object
p3
NtRp4
(dp5
S'_version'
p6
S'0.10.1.dev11+ng59166f7.d20170421'
p7
sS'_storage_writer_cls'
p8
ccaterpillar.storage.sqlite
SqliteWriter
p9
sS'_storage_reader_cls'
p10
ccaterpillar.storage.sqlite
SqliteReader
p11
sS'_schema'
p12
g1
(ccaterpillar.processing.schema
Schema
p13
g3
NtRp14
(dp15
S'_fields'
p16
(dp17
S'text'
p18
g1
(ccaterpillar.processing.schema
TEXT
p19
g3
NtRp20
(dp21
S'_stored'
p22
I01
sS'_analyser'
p23
g1
(ccaterpillar.processing.analysis.analyse
DefaultAnalyser
p24
g3
NtRp25
(dp26
S'_filters'
p27
(lp28
g1
(ccaterpillar.processing.analysis.filter
OuterPunctuationFilter
p29
g3
NtRp30
(dp31
S'pattern'
p32
c_regex
compile
p33
(S'[\\@\\#]*[^\\W_](?:$|.*[^\\W_])'
p34
I16688
S';A\x03J\x01\x02@#A\x00\x0c\x01_%\x00\x81\x80\xb0\x02\x14\x14\x1d\x00\xff\xff\xff\xff\x0fA\x01J\x01\x02@#\x14\x14A\x00\x0c\x01_%\x00\x81\x80\xb0\x02\x14\n\x18\x01$\x1d\x00\xff\xff\xff\xff\x0f\x03\x00\x14A\x00\x0c\x01_%\x00\x81\x80\xb0\x02\x14\x14\x01'
p35
(dp36
(dp37
(dp38
(lp39
I0
(tI0
I0
tRp40
sbag1
(ccaterpillar.processing.analysis.filter
PossessiveContractionFilter
p41
g3
NtRp42
(dp43
g32
g33
(V['\u2019\u02bc\u02bb\u055a\ua78b\ua78c\uff07]s$
p44
I16688
S"\x14A\x01J\x01\x08'\x99@\xbc\x05\xbb\x05\xda\n\x8b\xcf\x02\x8c\xcf\x02\x87\xfe\x03\x14\x0c\x01s\x18\x01\x01"
p45
(dp46
(dp47
(dp48
(lp49
I1
(I115
tp50
I0
I0
tRp51
sS'replacement'
p52
S''
sbag1
(ccaterpillar.processing.analysis.filter
StopFilter
p53
g3
NtRp54
(dp55
S'_stoplist'
p56
(dp57
sS'_minsize'
p58
I1
sbag1
(ccaterpillar.processing.analysis.filter
PositionalLowercaseWordFilter
p59
g3
NtRp60
(dp61
S'_position'
p62
I0
sbasbsS'_indexed'
p63
I01
sS'_categorical'
p64
I00
sbssbsb.